<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Photo-App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <button type="button btn-sm" class="btn btn-secondary nav-item nav-link mr-2"
                    routerLink="/photos">Photos</button>
                <button class="nav-item nav-link btn btn-secondary" role="button" data-toggle="modal"
                    data-target="#newPhoto">Upload</button>
            </div>
            <p class="nav-text ml-auto">Store your photos</p>
        </div>
    </div>
</nav>

<div class="modal fade" id="newPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (submit)="onSubmit(title, description)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Title" required #title>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Description"
                            required #description></textarea>
                    </div>
                    <div class="form-group">
                        <input type="file" (change)="onPhoto($event)">
                        <img [src]="photoSelected" *ngIf="photoSelected" alt="image" class="img-fluid">
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Upload</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>