<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Upload Photo
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Title" required>
                </div>
                <div class="form-group">
                    <textarea id="description" class="form-control" rows="3" placeholder="Description" required></textarea>
                </div>
                <div class="form-group">
                    <input type="file" class="">
                </div>
                <button class="btn btn-success btn-block">Upload</button>
            </form>
        </div>
    </div>
</div>