
<div class="row">
    <div class="col-12" *ngIf="photos.length == 0; else photosExp ">
        <div class="card">
            <div class="card-body text-center">
                <h2>Seems that you haven't upload a photo!</h2><i class="fa fa-camera fa-5x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>

<div class="row" #photosExp>
    <div class="col-md-4 p-4" *ngFor="let photo of photos">
        <div class="card" (click)="onSelect(photo._id)">
            <div class="card-header">
                <h4 class="text-center">{{photo.title}}</h4>
            </div>
            <img src="{{baseUrl + photo.path}}" class="img-card-top w-100">
            <div class="card-body">
                <h5>{{photo.description}}</h5>
            </div>
        </div>
    </div>
</div>


